<!DOCTYPE html>
<html lang="en" class="no-js">

<!-- bloglist12:18-->
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="/static/plugins.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/ourcss.css">

</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="/static/logo.png" alt="" width="150" height="150">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
        <form method="POST" action="#">
        	<div class="row">
        		 <label for="memberid">
                    Member ID:
                    <input type="text" name="memberid" id="memberid" placeholder="Bxxxxxxx" required="required" />
                </label>
        	</div>
           
            <div class="row">
            	<label for="password">
                    Password:
                    <input type="password" name="password" id="password" placeholder="******" required="required" />
                </label>
            </div>
            <div class="row">
            	<div class="remember">
					<div>
						<input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
					</div>
            		<a href="forgetpwd.html" class = 'forgetpwd' id = 'forget'  onclick = 'forget();'>Forget password ?</a>
            	</div>
            </div>
           <div class="row">
           	 <button type="submit" name="submit">Login</button>
           </div>
        </form>
    </div>
</div>
<div class='i'>
	<p>{{i}}</p>
</div>
<!--end of login form popup-->
<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form method="POST" action="#">
            <div class="row">
                 <label for="memberid-2">
                    Member ID:
                    <input type="text" name="memberid2" id="memberid-2" placeholder="Bxxxxxxx" required="required">
                </label>
			</div>
			<div class="row">
                <label for="password-2">
                    Password:
                    <input type="password" name="password2" id="password-2" placeholder="" required="required">
                </label>
            </div>
             <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="password" name="password3" id="repassword-2" placeholder="" required="required">
                </label>
            </div>
			<div class="row">
                <label for="name-2">
                    Name:
                    <input type="text" name="name2" id="name-2" placeholder="" required="required">
                </label>
			</div>
			<div class="row">
                <label for="birthday-2">
                   Birthday:
                    <input type="date" name="birthday2" id="birthday-2" placeholder="" pattern="" required="required">
                </label>
			</div>
			<div class="row">
                <label for="phone-2">
                   Phone:
                    <input type="text" name="phone2" id="phone-2" placeholder="" required="required">
                </label>
            </div>
            <div class="row">
                <label for="email-2">
                   Email:
                    <input type="text" name="email2" id="email-2" placeholder="" required="required">
                </label>
			</div>
           <div class="row">
             <button type="submit" name="submit2">sign up</button>
           </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="/"><img class="logo" src="/static/logo.png" alt="" width="80" height="80"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
							首頁<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="/">Home</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							電影介紹<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="/movie3%3Fmovie%3Dmovie1">Avengers: Endgame</a></li>
								<li><a href="/movie3%3Fmovie%3Dmovie2">BLACK PANTHER WAKANDA FOREVER</a></li>
								<li><a href="/movie3%3Fmovie%3Dmovie3">TOP GUN: MAVERICK</a></li>
								<li><a href="/movie3%3Fmovie%3Dmovie4">Captain America: The Winter Soldier</a></li>
								<li><a href="/movie3%3Fmovie%3Dmovie5">Eternals</a></li>
								<li><a href="/movie3%3Fmovie%3Dmovie6">Doctor Strange in the Multiverse of Madness</a></li>
								<li><a href="/movie3%3Fmovie%3Dmovie7">Mission: Impossible – Fallout</a></li>
								<li><a href="/movie3%3Fmovie%3Dmovie8">Kingsman: The Secret Service</a></li>
								<li><a href="/movie3%3Fmovie%3Dmovie9">那些年，我們一起追的女孩</a></li>
								<li><a href="/movie3%3Fmovie%3Dmovie10">COCO</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							影城介紹<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="theater.html">Theater</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							會員專區<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="member.html">Member Info</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="dropdown first">
						<li class="loginLink"><a href="#">LOG In</a></li>
						<li class="btn signupLink"><a href="#">sign up</a></li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	    <!-- top search form -->
	    <div class="top-search">
	    	<select>
				<option value="united">TV show</option>
				<option value="saab">Others</option>
			</select>
			<input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
	    </div>
	</div>
</header>
<!-- END | Header -->

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>訂單詳細資料</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">首頁</a></li>
						<li> <span class="ion-ios-arrow-right"></span>訂單詳細資料</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- blog list section-->
<div class="page-single">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="blog-item-style-1 blog-item-style-3">
            		<img src = "/static/recordid.png" alt = "recordid" style = "float: left; margin: 15px">
            		<div class="blog-it-infor">
            			<h3><a href="blogdetail.html">Record ID</a></h3>
            			<span class="time">{{recordid}}</span>
            		</div>
				</div>
				<div class="blog-item-style-1 blog-item-style-3">
            		<img src = "/static/ticketid.png" alt = "tickettype" style = "float: left; margin: 15px">
            		<div class="blog-it-infor">
						<h3><a href="blogdetail.html">Ticket Type</a></h3>
						{% if ticket1 != '選擇數量' %}
							<span class="time">一般票 x{{ticket1}}</span>
							<br>
						{% endif %}
						{% if ticket2 != '選擇數量' %}
							<span class="time">學生票 x{{ticket2}}</span>
							<br>
						{% endif %}
						{% if ticket3 != '選擇數量' %}
							<span class="time">敬老票 x{{ticket3}}</span>
						{% endif %}
            		</div>
				</div>
            	<div class="blog-item-style-1 blog-item-style-3">
            		<img src = "/static/movie.png" alt = "movie" style = "float: left; margin: 15px">
            		<div class="blog-it-infor">
            			<h3><a href="blogdetail.html">Movie</a></h3>
						<span class="time">{{movie}}</span>
					</div>
            	</div>
				<div class="blog-item-style-1 blog-item-style-3">
            		<img src = "/static/theater.png" alt = "theater" style = "float: left; margin: 15px">
            		<div class="blog-it-infor">
            			<h3><a href="blogdetail.html">Theater</a></h3>
            			<span class="time">{{theater}}</span>
            		</div>
            	</div>
            	<div class="blog-item-style-1 blog-item-style-3">
            		<img src = "/static/room.png" alt = "room" style = "float: left; margin: 15px">
            		<div class="blog-it-infor">
            			<h3><a href="blogdetail.html">Room</a></h3>
            			<span class="time">數位影廳 10廳</span>
            		</div>
				</div>
				<div class="blog-item-style-1 blog-item-style-3">
            		<img src = "/static/validdate.png" alt = "time" style = "float: left; margin: 15px">
            		<div class="blog-it-infor">
            			<h3><a href="blogdetail.html">Date</a></h3>
            			{% if date == 'date1' %}
							<span class="time">1/13</span>
						{% endif %}
						{% if date == 'date2' %}
							<span class="time">1/14</span>
						{% endif %}
						{% if date == 'date3' %}
							<span class="time">1/15</span>
						{% endif %}
						{% if date == 'date4' %}
							<span class="time">1/16</span>
						{% endif %}
						{% if date == 'date5' %}
							<span class="time">1/17</span>
						{% endif %}
            		</div>
				</div>
				<div class="blog-item-style-1 blog-item-style-3">
            		<img src = "/static/time.png" alt = "time" style = "float: left; margin: 15px">
            		<div class="blog-it-infor">
            			<h3><a href="blogdetail.html">Time</a></h3>
            			{% if time == 'time1' %}
							<span class="time">9:30</span>
						{% endif %}
						{% if time == 'time2' %}
							<span class="time">12:30</span>
						{% endif %}
						{% if time == 'time3' %}
							<span class="time">18:30</span>
						{% endif %}
            		</div>
				</div>
            	<div class="blog-item-style-1 blog-item-style-3">
            		<img src = "/static/seat.png" alt = "seat" style = "float: left; margin: 15px">
            		<div class="blog-it-infor">
            			<h3><a href="blogdetail.html">Seat</a></h3>
            			<span class="time">B7 B8</span>
            		</div>
				</div>
				<div class="blog-item-style-1 blog-item-style-3">
            		<img src = "/static/food.png" alt = "food" style = "float: left; margin: 15px">
            		<div class="blog-it-infor">
            			<h3><a href="blogdetail.html">Food</a></h3>
            			{% if food1 != '選擇數量' %}
							<span class="time">可樂（大） x{{food1}}</span>
							<br>
						{% endif %}
						{% if food2 != '選擇數量' %}
							<span class="time">可樂（中） x{{food2}}</span>
							<br>
						{% endif %}
						{% if food3 != '選擇數量' %}
							<span class="time">可樂（小） x{{food3}}</span>
							<br>
						{% endif %}
						{% if food4 != '選擇數量' %}
							<span class="time">爆米花（大） x{{food4}}</span>
							<br>
						{% endif %}
						{% if food5 != '選擇數量' %}
							<span class="time">爆米花（大） x{{food5}}</span>
							<br>
						{% endif %}
						{% if food6 != '選擇數量' %}
							<span class="time">爆米花（中） x{{food6}}</span>
							<br>
						{% endif %}
						{% if food7 != '選擇數量' %}
							<span class="time">熱狗 x{{food7}}</span>
							<br>
						{% endif %}
						{% if food8 != '選擇數量' %}
							<span class="time">吉拿棒 x{{food8}}</span>
						{% endif %}
            		</div>
				</div>
            	<div class="blog-item-style-1 blog-item-style-3">
            		<img src = "/static/totalprice.png" alt = "totalprice" style = "float: left; margin: 15px">
            		<div class="blog-it-infor">
            			<h3><a href="blogdetail.html">Total Price</a></h3>
            			<span class="time">{{price}}</span>
            		</div>
				</div>
				<a href="/record2.html" class='fgpwdbtn' id='modify'>修改訂票</a>
				<a href="/record.html" class='fgpwdbtn' id='ok' onClick='check();'>刪除訂票</a>

<script>
	function check(){
		alert('訂單刪除成功');
	}
</script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/plugins2.js"></script>
<script src="/static/js/custom.js"></script>
</body>

<!-- bloglist12:22-->
</html>